<%= render "layouts/errors", :object => @movie %>

<%= form_for @movie do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :director %>
  <%= f.text_field :director %>
  <br>
  <%= f.label :synopsis %>
  <%= f.text_field :synopsis %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>

  <p>Choose a subgenre:</p>

  <%= f.label :subgenre, "Nature" %>
  <%= f.radio_button :subgenre, "Nature" %>
  <%= f.label :subgenre, "Food" %>
  <%= f.radio_button :subgenre, "Food" %>
  <%= f.label :subgenre, "Health" %>
  <%= f.radio_button :subgenre, "Health" %>
  <%= f.label :subgenre, "Culture" %>
  <%= f.radio_button :subgenre, "Culture" %>

  <br>
  <br>
  <%= f.submit 'Submit', class:'btn btn-success' %>
<% end %>
