<% content_for(:title, "Documentary Site") %>

<h1>Documentary Fan Site</h1>

<%= link_to image_tag(@random_image), movie_path(@random_link) %>

<h3>List of movies:</h3>
  <%= link_to "Sort by Title (A-Z)", :sort => "lower(title)" %> ||
  <%= link_to "Sort by Date Added", :sort => "created_at" %>
<br>
<br>
<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %></li>
  <% end %>
</ul>

<% @search.each do |search| %>
  <li><%= search.title %></li>
<% end %>
