<% content_for(:title, "Movie Page") %>

<h1><%= @movie.title %></h1>

<%= @movie.average_rating %>

<p>Directed by: <%= @movie.director %></p>

<p><%= @movie.synopsis %></p>

<p><img src='<%= @movie.image %>'></p>


<p><%= link_to "Update Movie", edit_movie_path(@movie) %></p>

<p><%= link_to "Delete Movie", movie_path(@movie), :method => 'delete' %></p>

<hr>
<p><%= link_to "Add Review", new_movie_review_path(@movie) %></p>
<br>
<ul>
  <% @reviews.each do |review| %>
  <li>Review by: <%= review.name %></li>
  <li>Rating: <%= review.rating %></li>
  <li><%= review.comment %></li>
  <br>
  <p><%= link_to "Update Review", edit_movie_review_path(@movie, review) %></p>
  <p><%= link_to "Delete Review", movie_review_path(@movie, review), :method => 'delete' %></p>
  <br>
  <% end %>
</ul>
