<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class='navbar navbar-default'>
      <a class="navbar-brand" href="/movies">Documentaries</a>
      <ul class='nav navbar-nav'>
        <li><a href="/movies/new">Add a Movie</a></li>
          <%= form_tag(movies_path, method: 'get', class: "navbar-form navbar-left", role: "search") do %>
            <%= text_field_tag :query, params[:query], size: 25, placeholder: "Search", class: "form-control"%>
            <%= submit_tag 'Search', class: 'btn btn-default' %>
          <% end %>
      </ul>
    </div>
    <div class="container">
      <%= flash[:notice] %>
      <%= yield %>

    </div>
  </body>
</html>
